* {
    margin: 0;
    padding: 0;
}
.main-wrap {
    width: 1170px;
    margin: 0 auto;
}
#header {
    background: #DFDFDF;
    height: 100px;
}
#footer {
    background: #DFDFDF;
    position: absolute;
    bottom: 0;
    width: 1170px;
}
.navigation {
    background: #A0A0A0;
}
.navigation ul {
    width: 100%;
    overflow: hidden;
}
.navigation ul li {
    list-style: none;
    float:left;    
}
.navigation ul li a {
    text-decoration: none;
    color: #fff;
    padding: 7px 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.left-page {
    width: 300px;
    background: #C0C0C0;
    float: left;
    min-height: 400px;
}
.content-page {
    overflow: hidden;
}
.logo {
    float: left;
    margin-top: 20px;
}
.social {
    float: right;
    margin-top:20px;
}